<header>
    <div class="header-container">
      <div class="logo" onclick="window.location.href='home-page.html'">Tribuna</div>
      <div class="main-nav">
        <div class="nav-links">
          <button onclick="window.location.href='forum-page.html?content=questions'">Forum</button>
          <button onclick="window.location.href='forum-page.html?content=events'">Events</button>
        </div>
        <div class="auth-links">
          <a href="/src/pages/login-page.html" class="auth-button login-button">
            <span class="icon icon-login"></span>
            <span>Login</span>
          </a>
          <a href="/src/pages/registration-page.html" class="auth-button register-button">
            <span class="icon icon-register"></span>
            <span>Register</span>
          </a>
        </div>
      </div>
    </div>
  </header>